@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.modal {
   display: none;
}

.modal-scope  {
   .modal-hider {
      position: absolute;
      left: -99999em;
   }

   .modal {
      display: block;
      position: fixed;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6);
      z-index: -1;
      opacity: 0;
      transition: opacity 0.2s, z-index 0s 0.2s;
      text-align: center;
      overflow: hidden;
      overflow-y: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
   }

   .modal > * {
      display: inline-block;
      white-space: normal;
      vertical-align: middle;
      text-align: left;
   }

   .modal:before {
      display: inline-block;
      overflow: hidden;
      width: 0;
      height: 100%;
      vertical-align: middle;
      content: "";
   }

   &.modal-visible .modal {
      z-index: 99;
      opacity: 1;
      transition: opacity 0.2s;
   }
}

.modal-inner {
   position: relative;
   overflow: hidden;
   max-width: 550px;
   max-height: 90%;
   overflow-x: hidden;
   overflow-y: auto;
   background: #fff;
   z-index: -1;
   opacity: 0;
   transform: scale(0);
   transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
   padding:  5px 25px 20px;
   min-width: 300px;
   font-family: 'Lato', sans-serif;

   h2 {
      font-size: 36px;
      color: #1d1d1d;
      margin: 20px 0 10px;
      line-height: 1;
   }

   h3,
   p {
      color: #696969;
      line-height: 1.4;
      margin: 0;
   }

   h3 {
      font-size: 20px;
   }

   p {
      margin: 0 0 10px;
      font-size: 14px;
   }

   ul {
      margin: 20px -5px 0;
      padding: 0;
      list-style-type: none;

      li {
         margin: 0 5px 5px;
         width: calc(50% - 10px);
         float: left;

         a {
            display: block;
            padding: 5px 8px;
            text-align: center;
            font-weight: 600;
            border: 2px solid $green;
            background: $green;
            color: #ffffff;
            text-decoration: none;

            &:hover {
               border-color: $green;
               color: $green;
               background: transparent;
            }
            &[disabled="true"] {
               border-color: #1d1d1d;
               color: #1d1d1d;
               background: transparent;
               opacity: .4;
               cursor: default;
            }
         }
      }
   }
   form {
      background: lighten($window-menu, 2%);
      padding:  8px 10px;
      color: #1d1d1d;

      label,
      input {
         display: block;
      }
      label {
         margin-bottom: 5px;
      }
   }
}
.modal-visible {
   .modal-inner {
      z-index: 100;
      opacity: 1;
      transform: scale(1);
      transition: opacity 0.2s, transform 0.2s;
   }
}

[data-modal-close] {
   position: absolute;
   z-index: 2;
   right: 0;
   top: 0;
   width: 25px;
   height: 25px;
   line-height: 25px;
   font-size: 13px;
   cursor: pointer;
   text-align: center;
   background: #fff;
   box-shadow: -1px 1px 2px rgba(0,0,0,0.2);
}