body {
   margin: 0;
   padding: 80px 150px;
   background: $desktop-bg;
   color: $text;
   font-size: 14px;
   line-height: 1.6;
   font-family: 'Roboto Mono', monospace;
   -webkit-user-select: none; /* Chrome/Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* IE10+ */
   @media all and (max-width: 991px) {
      padding: 20px;
   }

   ul {
      &.inline {
         margin: 0;
         padding: 0;
         list-style-type: none;
         @extend .clearfix;
                  
         a {
            padding: 11px 8px 12px;
            line-height: 1;
            display: inline-block;
         }

         li {
            float: left;
         }

         .has-dropdown {
            position: relative;

            &:hover {
               .dropdown {
                  display: block;
               }
            }

            .dropdown {
               padding: 0;
               position: absolute;
               left: 0;
               top: 35px;
               z-index: 2;
               display: none;
            }

            ul {
               padding: 0;
               list-style-type: none;
               min-width: 150px;
               -webkit-box-shadow: 4px 7px 14px -4px rgba(0,0,0,0.65);
               -moz-box-shadow: 4px 7px 14px -4px rgba(0,0,0,0.65);
               box-shadow: 4px 7px 14px -4px rgba(0,0,0,0.65);
                  
               li {
                  float: none;
                  background: $window-menu;
                  border-top: 1px solid #c7c7c7;
                  
                  a {
                     padding-top: 10px;
                     padding-bottom: 10px;
                     display: block;
                     &:hover {
                        background: darken($window-menu, 5%);
                     }
                  }

                  &:last-child {
                     border-bottom: 1px solid #d1d1d1;
                     border-bottom-left-radius: 3px;
                     border-bottom-right-radius: 3px;
                     overflow: hidden;
                  }
               }
            }
         }
      }
   }
   span {
      &.green {
         color: $green;
      }
      &.red {
         color: $red;
      }
      &.yellow {
         color: $yellow;
      }
   }
}
.clearfix:after {
   content: "";
   display: table;
   clear: both;
}