// Colors - http://color-themes.com/?view=theme&id=566065a4ddacef1b003edb63
$desktop-bg: #507DB8;
$window-bg: #21282D;
$window-menu: #e6e6e6;
$text: #e0e2e4;
$pink: #fc9bb8;
$red: #eb3c33;
$blue: #4c75e6;
$green: #2AC940;
$gray: #7d8c93;
$yellow: #ffbe2f;

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

@import 'page';
@import 'modal';
@import 'osx';