// Colors - http://color-themes.com/?view=theme&id=566065a4ddacef1b003edb63
$desktop-bg: #507DB8;
$window-bg: #21282D;
$window-menu: #ececec;
$text: #e0e2e4;
$pink: #fc9bb8;
$red: #eb3c33;
$blue: #4c75e6;
$green: #2AC940;
$gray: #7d8c93;
$yellow: #ffbe2f;

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
@import 'normalize.css';

body {
   margin: 0;
   padding: 80px 150px;
   background: $desktop-bg;
   color: $text;
   font-size: 14px;
   line-height: 1.6;
   font-family: 'Roboto Mono', monospace;
   -webkit-user-select: none; /* Chrome/Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* IE10+ */
}

#window {
   background: $window-bg;
   height: calc(100vh - 162px);
   border-radius: 4px;
   overflow: hidden;
   box-shadow: inset 0 1px 0 rgba(255,255,255,.6), 0 22px 40px -4px rgba(0,0,0,0.36), 0 0 0 1px rgba(0, 0, 0, 0.3);
   border: 1px solid rgb(236, 236, 236);

   nav {
      background: $window-menu;
      color: $window-bg;
      padding: 6px 4px;
      position: relative;

      a {
         padding: 2px;
         opacity: .75;
         font-size: 12px;
         text-decoration: none;
         color: inherit;
         display: inline-block;
         &:first-of-type {
            margin-left: 6px;
         }
         &:hover {
            opacity: 1;
         }
         &.autoclick {
            // display: none;
         }
      }
      .right {
         position: absolute;
         top: 10px;
         right: 10px;
         width: 200px;

         .money {
            margin: 0 8px;
            float: right;
            color: $green;
            font-size: 12px;
            position: relative;
            top: -2px;
            font-weight: 700;
         }
         .circle {
            width: 12px;
            height: 12px;
            background: #afafaf;
            border-radius: 100%;
            margin: 0 4px;
            float: right;

            &:nth-of-type(1) {
               background: $green;
               border: 1px solid darken($green, 12%);
            }
            &:nth-of-type(2) {
               background: $yellow;
               border: 1px solid darken($yellow, 15%);
            }
            &:nth-of-type(3) {
               background: $red;
               border: 1px solid darken($red, 22%);
            }
         }
      }
   }

   #messages {
      position: relative;
      padding: 4px 10px;
      overflow-y: scroll;
      height: calc(100% - 35px - 8px - 8px);
      cursor: pointer;

      p {
         margin: 2px;
         
         strong {
            font-weight: 700;
            color: $pink;
         }
         span {
            &.output {
               color: $gray;
               font-weight: 700;
               font-family: monospace;
            }
            &.green {
               color: $green;
            }
            &.red {
               color: $red;
            }
            &.yellow {
               color: $yellow;
            }
         }
      }

      &.click-region {
         cursor: pointer;
         
         &:active {
            opacity: .85;
         }
      }
   }

   footer {
      background: $window-menu;
      height: 8px;
   }
}